.houses{
    position: relative;
    min-height: 1559px;
    background-color: #F5F5F2;
    &__imgtop{
        position: relative;
        &__1{
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    /* .contact, .second, .three {
        margin-top: 10px;
        position: absolute;
        top: 50px;
        left: 42%;
        z-index: 100;
    } */
.houses__imgtop__2 {
    position: absolute;
    bottom: 0PX;
}
    /* &__imgbot{
        position: relative;
        &__2{
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    } */
    &__btn{
        
        width: 92px;
        height: 29px;
        background: #E7E8E3;
        border-radius: 32px;
        margin: 0 auto;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #2A2C1F;
        padding: 4px;
        margin-top: 128px;
        margin-bottom: 25px;
    }
    &__text{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        color: #2A2C1F;
        margin-bottom: 82px;
    }
    &__bloks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }

    &__blok{
        width: 405px;
        min-height: 460px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        margin-bottom: 30px;
        &__text{
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            color: #2A2C1F;
            margin-bottom: 3px;
        }
        &__map{
            

            display: flex;
            justify-content: start;
            margin-top: 16px;
            margin-bottom: 16px;
        
        }
        &__map__text{
            display: block;
            margin-left: 10px;
        }
    }
    &__footer{
        display: flex;
        justify-content: start;
        &__bloks{
            margin-left: 26px;
            
        }
    }
    &__padding{
        padding-top: 23px;
        padding-left: 24px;
    }
    .send__btns__houses{
        justify-content: center;
        margin-bottom: 140px;
    }
}
.houses__footer__bloks:nth-child(1){
    margin-left: 0px;
}
.send__btns{
    margin: 0 auto;
    margin-top: 50px;
}
@media screen and (max-width: 1400px){
    .houses__imgtop__1 {
        display: none;
    }
    .houses .houses__imgtop__2 {
        display: none;
    }
    .houses__blok {
        width: 371px;
        .bg{
            width: 100%;
        }
    }
    .houses__btn {
        margin-top: 25px;
    }
    
}
@media screen and (max-width: 1200px){
   
    
}
@media screen and (max-width: 992px){
   
    
}
@media screen and (max-width: 768px){
    .houses .send__btns__houses {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .houses__text {
        font-size: 43px;
    }
    
}
@media screen and (max-width: 525px){
   
    
}
@media screen and (max-width: 425px){
    .houses__blok {
        width: 280px;
        min-height: 395px;
    }
    .houses__text {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 43px;
        line-height: 49px;
        text-align: center;
        color: #2A2C1F;
        margin-bottom: 50px;
    }
    
}